HIDDEN_FILES/loginData.xlsx
loginData.py
HIDDEN_FILES/linkData.py
main_backup.py
manage_backup.py
*.spec
dist
build
.idea
data*.xlsx
chromedriver.exe
test.py
_etc/errorCase.txt
*.pyc
__pycache__
in
out
test
결의서 작성 필요
기안 필요
완료
.DS_Store
TODO.*
ttest