altgraph==0.17.3
async-generator==1.10
attrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==39.0.0
DateTime==4.9
et-xmlfile==1.1.0
exceptiongroup==1.1.0
h11==0.14.0
idna==3.4
macholib==1.16.2
norminette==3.3.51
openpyxl==3.0.10
outcome==1.2.0
packaging==23.0
pycparser==2.21
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pyOpenSSL==23.0.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.7
requests==2.28.1
selenium==4.2.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
urllib3==1.26.13
urllib3-secure-extra==0.1.0
wcwidth==0.2.5
webdriver-manager==3.8.5
wsproto==1.2.0
zope.interface==5.5.2